/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    margin: 0;
    padding: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* reset styles */
html {
    font-family: PTSans, Arial, sans-serif;
    font-size: 5em;

}
body {
    min-width: 900px;
    max-width: 1200px;
    margin: 50px auto;
    background-color: white;
    /*border: 1px black solid;*/
    padding: 10px;
}

.no-page{
    width: 40%;
    margin: 0 auto;
}
.no-page p{
    width: 100%;
    margin: 0 auto;
    font-size: .3em;
}

.no-page p{
    text-align: center;
}


.clear{
    clear: both;
}

.wrapper{
    width: 100%;
    min-height: 80%;
}

.resume  h1:first-child{
    font-size: .5em;
}


.resume .right{
    float: left;
    border: 1px #bbbbbb dashed;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 15%;
    height: 150px;
    margin-right: 20px;
    margin-top: 30px;
}

.photo_personal_contacts figure img{
    background-size: contain;
    border-radius: 10px;
    width: 100%;
    height: 150px;

}

.resume .skills{
    margin-top: 5px;
    padding: 5px;
    border-top: 1px #bbbbbb  dashed;
    border-bottom: 1px #bbbbbb dashed;
}

.resume .skills p{
    width: 100%;
    padding: 10px;
    font-size: 0.2em;
    margin-bottom: 5px;
    color: #bababa;
}

.resume
.photo_personal_contacts
.personal_data header h2,
.resume .experience .skills h2,
.resume .left_40 h2,
.resume .right_60 h2{
    font-size: .25em;
}

.resume .personal_data header h1 img,
.resume .contacts_data h1 img,
.resume .salary_position h1 img,
.resume .education_language h1 img,
.resume .education_language h2 img,
.resume .experience h1 img,
.resume .contacts_data section img,
.resume .education_language .languages h4 img,
.resume .education_language .courses h4 img,
.resume .experience .skills h2 img,
.resume .left_40 h2 img,
.resume .right_60 h2 img,
.resume .nationality_workpermit h1 img{
    margin-left: 10px;
    margin-right: 10px;
}

.resume .contacts_data section span{
    margin-left: 10px;
    color: #bababa;
}


.resume .salary_position .salary_position_add,
.resume .education_add{
    width: 100%;
}

.left{
    float: left;
    width: 83%;
}
.left_40{
    margin-top: 10px;
    float: left;
    width: 40%;
}

.right_60{
    margin-top: 10px;
    float: left;
    width: 60%;
}

.resume .left_40 p,
.resume .right_60 p{
    padding: 10px;
    font-size: .2em;
}

.resume .personal_data header h1 a,
.resume .contacts_data h1 a,
.resume .salary_position  h1 a,
.resume .education_language h1 a,
.resume .education_language h2 a,
.resume .experience h1 a,
.resume .education_language .languages h4 a,
.resume .education_language .courses h4 a,
.resume .experience .skills h2 a,
.resume .left_40 h2 a,
.resume .right_60 h2 a,
.resume .nationality_workpermit h1 a{
    font-size: .65em;
    font-weight: normal;
    text-decoration: none;
    color: #c67b37;
    border: none;
    margin-right: 10px;
}

.resume .personal_data section p,
.resume .contacts_data section p,
.resume .salary_position p{
    margin-top: 3px;
    font-size: .2em;
}

.resume .salary_position{
    width: 100%;
}
.resume .salary_position{
    margin-top: 30px;
}
.resume .salary_position  h1,
.resume .education_language h1,
.resume .experience h1,
.resume .nationality_workpermit h1{
    margin-top: 10px;
    border-bottom: 1px #bbbbbb ridge;
    font-size: 0.3em;
    color: #bbbbbb;
}
.resume .education_language{
    margin-top: 10px;
}


.resume .education_language h2{
    margin-top: 10px;
    font-size: .25em;
}

.resume .salary_position  h2{
    margin-top: 10px;
    font-size: 0.3em;
}
.resume .salary_position  h3{
    margin-top: 10px;
    font-size: 0.3em;
    font-weight: normal;
    margin-bottom: 10px;
}

.resume .salary_position p,
.resume .nationality_workpermit p{
    font-size: 0.2em;
    padding: 5px;
}
.resume .education_language table,
.resume .experience table{
    border: none;
    margin-top: 5px;
}
.resume .education_language .languages h4,
.resume .education_language .courses h4{
    font-size: 0.25em;
}

.resume .education_language .courses{
    margin-top: 10px;
}

.resume .languages p{
    font-size: .2em;
    margin-top: 10px;
    margin-left: 10px;
}


.resume .education_language table td,
.resume .experience table td{
    font-weight: normal;
    padding: 10px;
    font-size: 0.2em;
}
.resume .education_language table td span{
    display: block;
    color: #bababa;
}


/*.registration h1{*/
/*font-weight: normal;*/
/*text-align: center;*/
/*font-size: 0.5em;*/
/*margin-bottom: 20px;*/
/*}*/
.registration input[type=submit]{
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: red;
    text-transform: uppercase;
    color: white;
    padding: 10px 5px 10px 5px;
    margin-left: 40%;
}
.required{
    color: red;
}


.registration{
    width: 100%;
}
.registration .label{
    margin-top: 10px;
    float: left;
    font-size: 0.7em;
    width: 40%;
}
.registration .input{
    float: left;
    width: 60%;
}


.registration .label label{
    display: block;
    height: 50px;
    text-align: right;
    font-size: .5em;
}

.registration .input input{
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 40px;
}

.end_resume a.delete_resume,
.end_resume a.save_resume{
    background-color: #ff564d;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    text-decoration: none;
    font-size: .2em;
}
.end_resume a.save_resume{
    background-color: green;
}



.resume .right a.addPhoto{
    display: block;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    font-size: .3em;
    height: 150px;
    padding-top: 20px;
    padding-left: 30px;
}
.resume .left .add a,
.resume .salary_position_add a,
.resume .education_add a,
.resume .experience_add a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.resume .left .add a span,
.resume .salary_position_add span,
.resume .education_add span,
.resume .experience_add span{
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}

.resume .left .add,
.resume .salary_position_add,
.resume .education_add,
.resume .experience_add{
    width: 100%;
    margin-top: 30px;
    border: 1px #bbbbbb dashed;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 0.25em;
    height: 60px;
}

.addFio{
    float: left;
    margin-left: 2%;
    width: 80%;
}


.resume .right:hover{
    cursor: pointer;
    background-color: rgba(186, 186, 186, 0.3);
    border: 1px #bbbbbb dashed;
}

.resume .left .add:hover,
.resume .salary_position_add:hover,
.resume .education_add:hover,
.resume .experience_add:hover{
    cursor: pointer;
    background-color: rgba(186, 186, 186, 0.3);
    border: 1px #bbbbbb dashed;
}


a.addPhoto span:first-child,
.add a span:first-child,
.resume .salary_position_add a span:first-child,
.resume .education_add a span:first-child,
.resume .experience_add a span:first-child{
    font-size: 1.4em;
    color: #bbbbbb;
}

a.addPhoto span:last-child,
.add a span:last-child,
.resume .salary_position_add a span:last-child,
.resume .education_add a span:last-child,
.resume .experience_add a span:last-child{
    color: deepskyblue;
    font-size: 0.9em;
}


/*download photo*/

.photo, .personal{
    position: relative;
    padding: 30px;
}

.delete_photo{
    float: right;
    text-align: left;
    width: 80%;
}
.delete_photo a {
    margin-left: 60px;
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 0.25em;
    width: 250px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 31, 23, 0.5);
    color: white;
    text-transform: uppercase;
}

.photo .no-save,
.personal .no-save{
    display: block;
    float: left;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    width: 300px;
    font-size: .20em;
    text-decoration: none;
    color: #bbbbbb;
    background-color: rgba(186, 186, 186, 0.3);
}
.photo section,
.personal section{
    padding-left: 100px;
}


.photo .arrow-right,
.personal .arrow-right{
    float: left;
    margin-left: 50px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: rgba(186, 186, 186, 0.3);
    border-left: 0;
}
.photo .no-save:hover,
.personal .no-save:hover{
    cursor: pointer;
    background-color: rgba(186, 186, 186, 0.3);
    color: red;
}

.photo section h1,
.personal  section h1{
    margin-top: 40px;
    font-size: 0.5em;
}

.user_photo{
    float: left;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.helpers_message_photo{
    display: block;
    float: left;
    font-size: .25em;
    text-align: center;
    margin-left: 5%;
    width: 70%;
    color: red;
    border: 1px red dashed;
    padding: 10px;
}

.user_photo img{
    float: left;
    width: 200px;
    height: 180px;
    border: 1px black dotted;
}
.photo_form{
    width: 100%;
    margin-top: 50px;
}

.photo_form label{
    display: block;
    float: left;
    width: 30%;
    font-size: .2em;
}
#file{
    font-size: 0.25em;
    display: block;
    float: left;
    margin-left: -20px;
}
#submit_download,
.save input[type=submit]{
    cursor: pointer;
    font-size: 0.25em;
    width: 150px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 31, 23, 0.5);
    color: white;
    text-transform: uppercase;

}
#submit_download{
    display: block;
    margin-left: 30px;
    float: left;
}

.save{
    margin-top: 30px;
    clear: both;
    height: 150px;
    background-color: rgba(253, 240, 164, 0.3);
}

.save input[type=submit]{
    margin-left: 35%;
}

.back{
    font-size: .25em;
    color: #bbbbbb;
}

.center{
    margin: 0 auto;
}

/*personal*/

.personal table{
    margin-top: 50px;
    width: 800px;
    font-size: .2em;
}

.personal table td{
    height: 60px;
}


.personal table td label{
    cursor: pointer;
    font-size: 1em;
}

.error{
    margin-top: 5px;
    font-size: .8em;
    width: 100%;
    color: red;
}

table.foot_table  tr td{
    color: red;
    height: 50px;
}

.personal table td input[type=text]{
    width: 100%;
    padding: 5px;
}
.personal table td input[type=radio]{
    margin-bottom: 20px;
}
.personal table td input[type=radio]:first-child{
    margin-top: 20px;
}


.personal table td select{
    width: 80px;
    padding: 3px;
}

.personal tfoot tr{
    text-align: center;
    background-color: rgba(186, 186, 186, 0.3);
}
.personal tfoot tr input[type=submit]{
    cursor: pointer;
    font-size: 1.2em;
    width: 300px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 31, 23, 0.5);
    color: white;
    text-transform: uppercase;
}

.personal tfoot tr input[type=submit]:disabled{
    cursor: auto;
    font-size: 1.2em;
    width: 300px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 31, 23, 0.3);
    color: white;
    text-transform: uppercase;
}

.personal tfoot tr .back {
    font-size: 1.5em;
    margin-left: 50px;
}

.personal tfoot tr td{
    padding: 10px;
}
.other_country{
    width: 100%;
}

.work_permit_other{
    width: 100%;
}

.data{
    display: inline-block;
    width: 190px;
    margin-left: 10px;
}

#city_example, #nationality_example, #work_permit_example{
    color: rgba(175, 175, 175, .8);
    font-weight: bold;
    border-bottom: 1px rgba(175, 175, 175, .8) dashed;
}

#city_example:hover, #nationality_example:hover, #work_permit_example:hover{
    cursor: pointer;
    font-size: 1.05em;
}
.example{
    color: rgba(175, 175, 175, .8);
    font-size: .8em;
    margin-bottom: 3px;
    margin-top: 5px;
}

.data_f{
    text-align: center;
    margin-bottom: 10px;
    color: red;
    visibility: hidden;
}


/*contacts*/
.personal.contacts{
    position: relative;
    width: 90%;
    padding: 30px;
}

.personal.contacts .message{
    padding: 10px;
    width: 25%;
}

.contacts table tfoot tr{
    height: 50px;
}

.contacts table tfoot td div{
    margin: 0 auto;
    padding: 10px;
    width: 60%;
}


.contacts table td input[type=radio]{
    margin-right: 5px;
    margin-left: 10px;
}

.contacts table{
    width: 100%;
}

.contacts table td:nth-child(1) {
    text-align: left;
}

.contacts table td:nth-child(4) {
    padding-left: 5px;
    font-size: .7em;
    text-align: left;
    width: 20%;
}
.contacts table td:nth-child(2) {
    padding: 4px;
    width: 10px;
}

.comment{
    font-size: .8em;
    color: rgba(175, 175, 175, .8);
}

input[type=tel]{
    width: 100%;
    height: 30px;
    padding: 5px;
}

input[type=email]{
    width: 300px;
    padding: 5px;
}

.message{
    font-weight: normal;
    width: 40%;
}
/*personal position*/

.personal .message{
    text-align: left;
    width: 100%;
    font-size: .8em;
}

#salary{
    width: 100px;
}

#currency{
    margin-left: 5px;
    width: 100px;
}
.container{
    width: 100%;
}
.container input[type=checkbox]{
    margin-right: 10px;
    margin-top: 10px;
}
.position table tfoot tr{
    height: 50px;
}

.position table tfoot td div{
    margin: 0 auto;
    padding: 10px;
    width: 60%;
}
.position .message, .education .message{
    width: 100%;
    font-size: .85em;
    color: red;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*experience*/
#key_skill{
    width: 250px;
}
.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0
}
.delete_skills{
    margin-left: 5px;
    margin-right: 20px;
}

.add_skills_hid{
    font-weight: normal;
}

.add_skills_hid span{
    border-radius: 4px;
    text-align: center;
    background-color: rgba(175, 175, 175, .3);
    padding: 5px;
    margin-left: 5px;
}

.add_skills_hid span img{
    margin-left: 15px;
    margin-right: 2px;
}

.delete_skills:hover{
    cursor: pointer;
}
.ui-autocomplete{
    width: 100px;
    font-size: 0.2em !important;
    background: #4a4a4a;
    border-radius: 0px;
}
.ui-autocomplete.source:hover {
    background: #454545;
}

.ui-menu .ui-menu-item a{
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}

.button_skill{
    margin-left: 10px;
    width: 100px;
    height: 30px;
}
.personal.experience{
    position: relative;
    width: 90%;
    padding: 30px;
}
.base_education  th{
    padding-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
}


.personal.experience table td{
    padding-top: 10px;
    padding-left: 10px;
}

.add_position,
.add_recommendations,
.delete, .add_education,
.add_training_courses,
.add_tests_exams,
.add_electronic_certificates,
.add_language{
    width: 100%;
    color: #6dc626;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
    text-align: left;
    font-size: .2em;
    margin-top: 20px;

}
.delete{
    color: red;
}


.add_position img,
.add_education img,
.add_training_courses img,
.add_tests_exams img,
.add_electronic_certificates img,
.add_language img,
.add_recommendations img{
    padding-right: 10px;
    padding-left: 10px;
}

.delete img{
    padding-right: 10px;
    padding-left: 10px;
}

table.electronic_certificates  tbody td:nth-child(2) {
    width: 65%;
}


.add_position:hover,
.delete:hover,
.add_recommendations:hover,
.add_education:hover,
.add_training_courses:hover,
.add_tests_exams:hover,
.add_electronic_certificates:hover,
.add_language:hover{
    cursor: pointer;
}

.functions, .about_me{
    vertical-align: top;
}

.function_td textarea,
.key_skills textarea{
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 5px;
}


.function_td p{
    font-size: .8em;
}


.personal.experience .message{
    color: red;
}

.personal.experience hr,
.personal.education hr{
    border-top:1px  dotted #bababa;
}
table.key_skills tr:first-child{
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}


table.recommendations tr:first-child{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
.about_self{
    font-size: .7em;
}
/**/
.personal.education .level{
    width: 100%;
}
.personal.education table th,
.training_courses table th,
.tests_exams table th{
    text-align: left;
}
.base_education td,
.training_courses td,
.tests_exams td{
    font-size: .9em;
}
.base_education p,
.training_courses p,
.tests_exams p{
    margin-top: 5px;
    font-size: .9em;
    color: rgb(175, 175, 175);
}

table.training_courses th,
table.tests_exams th,
table.electronic_certificates th,
table.possessions_language th{
    padding-bottom: 20px;
}

table.possessions_language td select{
    width: 100%;
}
.delete.language{
    font-size: 1em;
}

table.possessions_language *[data-tr-language-further-id] td:nth-child(1){
    padding-right: 20px;
    width: 210px;
}












































