/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    margin: 0;
    padding: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* reset styles */
html {
    font-family: PTSans, Arial, sans-serif;
    font-size: 5em;

}
body {
    min-width: 750px;
    max-width:  1200px;
    margin: 40px auto;
    background-color: white;
    border: 1px black solid;
    padding: 10px;
}

.no-page{
    width: 40%;
    margin: 0 auto;
}
.no-page p{
    width: 100%;
    margin: 0 auto;
    font-size: .3em;
}

.no-page p{
    text-align: center;
}


.clear{
    clear: both;
}

.wrapper{
    width: 100%;
    min-height: 100%;
}
.resume{
    font-size: .95em;
}
.resume .resume_header a.header_back{
    color: white;
    background-color: rgba(255, 0, 0, 0.44);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    font-size: .2em;
}

.resume .conclusion{
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: rgba(255, 86, 77, 0.10);
}

.resume .conclusion h1{
    width: 100%;
    text-align: center;
    color: #c67b37;
    margin-bottom: 5px;
    font-size: 0.3em !important;
}




.resume .conclusion .editConclusion,
.resume .conclusion .deleteConclusion a{
    font-size: .6em;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    color: white;
    background-color: rgba(198, 123, 55, 0.58);
    padding: 10px 15px 10px 15px;
    text-decoration: underline;
}

.resume .conclusion .editConclusion img,
.resume .conclusion .deleteConclusion img{
    height: 12px;
    margin-right: 10px;
}

.resume .conclusion .editConclusion:hover{
    cursor: pointer;
}

.resume .conclusion .conclusion_text{
    font-size: 0.2em;
    margin-left: 100px;
    padding: 10px;
}
.resume .conclusion textarea{
    display: block;
    padding: 10px;
    float: left;
    width: 50%;
    margin-left: 250px;
    height: 80px;
    resize: vertical;
}
.resume .conclusion input[type=submit]{
    display: block;
    float: left;
    height: 50px;
    width: 150px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: rgba(0, 128, 0, 0.57);
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-left: 20px;
}



.resume  h1:first-child{
    font-size: .5em;
}


.resume .right{
    float: left;
    border: 1px #bbbbbb dashed;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 15%;
    height: 150px;
    margin-right: 20px;
    margin-top: 30px;
}

.photo_personal_contacts figure img{
    background-size: contain;
    border-radius: 10px;
    width: 100%;
    height: 150px;

}

.resume .skills{
    margin-top: 5px;
    padding: 5px;
    border-top: 1px #bbbbbb  dashed;
    border-bottom: 1px #bbbbbb dashed;
}

.resume .skills p{
    width: 100%;
    padding: 10px;
    font-size: 0.2em;
    margin-bottom: 5px;
    color: #bababa;
}

.resume .resume_data_left{
    float: left;
    width: 77%;
    padding: 10px;
    /*border: 1px black solid;*/
}

.resume .resume_widget{
    float: right;
    width: 23%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 0px;
    font-size: .20em;
    background-color: rgba(255, 86, 77, 0.04);
    border: 1px rgba(171, 171, 171, 0.46) solid;
    color: #ff5d10;
    font-weight: bold;
}


fieldset {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    color: dimgray;
    border:  1px #5e5e5e dashed;
}
fieldset img{
    width: 18px;
    height: 18px;
}
fieldset legend{
    font-size: .9em;
    color: #ff5d10;
}

.resume .resume_widget .form_comment{
    margin-top: 20px;
    padding: 19px;
    margin-bottom: 30px;
}

.resume .resume_widget .admin_comments{
    margin-top: 20px;
    padding-left: 5px;
}
.resume .resume_widget .header_comments{
    text-align: center;
    font-size: 1.3em;
    width: 100%;
    background-color: rgba(187, 187, 187, 0.69);
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px;
    padding: 4px;
    border: none;
    color: white;
}
.resume .resume_widget  textarea{
    display: block;
    resize: vertical;
    height: 50px;
    padding: 10px;
    width: 100%;
    border:  1px #5e5e5e dashed;
}
.resume .resume_widget input[type=submit]{
    display: block;
    border: none;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    -moz-border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.55);
    margin-top: 5px;
}


.resume .resume_widget p{
    font-size: .9em;
}
.resume .resume_widget ul{
    padding: 0;
    margin: 0;
}
.resume .resume_widget ul li{
    list-style: none;
    font-size: .7em;
    padding: 5px;
}

.resume .resume_widget ul li a{
    color: red;
    font-weight: normal;
}



.resume
.photo_personal_contacts
.personal_data header h2,
.resume .experience .skills h2,
.resume .left_40 h2,
.resume .right_60 h2{
    font-size: .23em;
}

.resume .personal_data header h1 img,
.resume .contacts_data h1 img,
.resume .salary_position h1 img,
.resume .education_language h1 img,
.resume .education_language h2 img,
.resume .experience h1 img,
.resume .contacts_data section img,
.resume .education_language .languages h4 img,
.resume .education_language .courses h4 img,
.resume .experience .skills h2 img,
.resume .left_40 h2 img,
.resume .right_60 h2 img,
.resume .nationality_workpermit h1 img{
    margin-left: 10px;
    margin-right: 10px;
}

.resume .contacts_data section span{
    margin-left: 10px;
    color: #bababa;
}


.resume .salary_position .salary_position_add,
.resume .education_add{
    width: 100%;
}

.left{
    float: left;
    width: 82%;
}
.left_40{
    margin-top: 10px;
    float: left;
    width: 40%;
}

.right_60{
    margin-top: 10px;
    float: left;
    width: 60%;
}

.resume .left_40 p,
.resume .right_60 p{
    padding: 10px;
    font-size: .15em;
}

.resume .personal_data header h1 a,
.resume .contacts_data h1 a,
.resume .salary_position  h1 a,
.resume .education_language h1 a,
.resume .education_language h2 a,
.resume .experience h1 a,
.resume .education_language .languages h4 a,
.resume .education_language .courses h4 a,
.resume .experience .skills h2 a,
.resume .left_40 h2 a,
.resume .right_60 h2 a,
.resume .nationality_workpermit h1 a{
    font-size: .55em;
    font-weight: normal;
    text-decoration: none;
    color: #c67b37;
    border: none;
    margin-right: 10px;
}

.resume .personal_data section p,
.resume .contacts_data section p,
.resume .salary_position p{
    margin-top: 3px;
    font-size: .2em;
}

.resume .salary_position{
    width: 100%;
}
.resume .salary_position{
    margin-top: 30px;
}
.resume .salary_position  h1,
.resume .education_language h1,
.resume .experience h1,
.resume .nationality_workpermit h1{
    margin-top: 10px;
    border-bottom: 1px #bbbbbb ridge;
    font-size: 0.3em;
    color: #bbbbbb;
}
.resume .education_language{
    margin-top: 10px;
}


.resume .education_language h2{
    margin-top: 10px;
    font-size: .25em;
}

.resume .salary_position  h2{
    margin-top: 10px;
    font-size: 0.3em;
}
.resume .salary_position  h3{
    margin-top: 10px;
    font-size: 0.3em;
    font-weight: normal;
    margin-bottom: 10px;
}

.resume .salary_position p,
.resume .nationality_workpermit p{
    font-size: 0.2em;
    padding: 5px;
}
.resume .education_language table,
.resume .experience table{
    border: none;
    margin-top: 5px;
}
.resume .education_language .languages h4,
.resume .education_language .courses h4{
    font-size: 0.25em;
}

.resume .education_language .courses{
    margin-top: 10px;
}

.resume .languages p{
    font-size: .2em;
    margin-top: 10px;
    margin-left: 10px;
}


.resume .education_language table td,
.resume .experience table td{
    font-weight: normal;
    padding: 10px;
    font-size: 0.2em;
}
.resume .education_language table td span{
    display: block;
    color: #bababa;
}


.required{
    color: red;
    margin-left: 3px;
}

.resume .end_resume{
    margin-top: 10px;
}


.resume .end_resume a.delete_resume,
.resume .end_resume a.save_resume{
    display: block;
    float: left;
    background-color: green;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    text-decoration: none;
    width: 49%;
    text-align: center;
    font-size: .65em;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
.resume .end_resume a.delete_resume{
    background-color: #ff564d;
    margin-left: 3px;

}

.resume .right a.addPhoto{
    display: block;
    width: 100%;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: .2em;
    height: 150px;
    padding-top: 40px;
    padding-left: 30px;
}
.resume .left .add a,
.resume .salary_position_add a,
.resume .education_add a,
.resume .experience_add a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.resume .left .add a span,
.resume .salary_position_add span,
.resume .education_add span,
.resume .experience_add span{
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}

.resume .left .add,
.resume .salary_position_add,
.resume .education_add,
.resume .experience_add{
    width: 100%;
    margin-top: 30px;
    border: 1px #bbbbbb dashed;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 0.25em;
    height: 60px;
}

.addFio{
    float: left;
    margin-left: 2%;
    width: 80%;
}


.resume .right:hover{
    cursor: pointer;
    background-color: rgba(186, 186, 186, 0.3);
    border: 1px #bbbbbb dashed;
}

.resume .left .add:hover,
.resume .salary_position_add:hover,
.resume .education_add:hover,
.resume .experience_add:hover{
    cursor: pointer;
    background-color: rgba(186, 186, 186, 0.3);
    border: 1px #bbbbbb dashed;
}


a.addPhoto span:first-child,
.add a span:first-child,
.resume .salary_position_add a span:first-child,
.resume .education_add a span:first-child,
.resume .experience_add a span:first-child{
    font-size: 1.4em;
    color: #bbbbbb;
}

a.addPhoto span:last-child,
.add a span:last-child,
.resume .salary_position_add a span:last-child,
.resume .education_add a span:last-child,
.resume .experience_add a span:last-child{
    color: deepskyblue;
    font-size: 0.9em;
}

.resume .experience table td span{
    padding: 5px;
    color: #bababa;
}


/*download photo*/

.photo, .personal{
    position: relative;
    padding: 30px;
}

.delete_photo{
    float: right;
    text-align: left;
    width: 80%;
}
.delete_photo a {
    margin-left: 60px;
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 0.25em;
    width: 250px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 31, 23, 0.5);
    color: white;
    text-transform: uppercase;
}

.photo .no-save,
.personal .no-save{
    display: block;
    float: left;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    width: 300px;
    font-size: .20em;
    text-decoration: none;
    color: #bbbbbb;
    background-color: rgba(186, 186, 186, 0.3);
}
.photo section,
.personal section{
    padding-left: 100px;
}


.photo .arrow-right,
.personal .arrow-right{
    float: left;
    margin-left: 50px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: rgba(186, 186, 186, 0.3);
    border-left: 0;
}
.photo .no-save:hover,
.personal .no-save:hover{
    cursor: pointer;
    background-color: rgba(186, 186, 186, 0.3);
    color: red;
}

.photo section h1,
.personal  section h1{
    margin-top: 40px;
    font-size: 0.5em;
}

.user_photo{
    float: left;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.helpers_message_photo{
    display: block;
    float: left;
    font-size: .25em;
    text-align: center;
    margin-left: 5%;
    width: 70%;
    color: red;
    border: 1px red dashed;
    padding: 10px;
}

.user_photo img{
    float: left;
    width: 200px;
    height: 180px;
    border: 1px black dotted;
}
.photo_form{
    width: 100%;
    margin-top: 50px;
}

.photo_form label{
    display: block;
    float: left;
    width: 30%;
    font-size: .2em;
}
#file{
    font-size: 0.25em;
    display: block;
    float: left;
    width: 25%;
    margin-left: -20px;
}
#submit_download,
.save input[type=submit]{
    cursor: pointer;
    font-size: 0.25em;
    width: 150px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 31, 23, 0.5);
    color: white;
    text-transform: uppercase;

}
#submit_download{
    display: block;
    margin-left: 30px;
    float: left;
}

.save{
    margin-top: 30px;
    clear: both;
    height: 150px;
    background-color: rgba(253, 240, 164, 0.3);
}

.save input[type=submit]{
    margin-left: 35%;
}

.back{
    font-size: .25em;
    color: #bbbbbb;
}

.center{
    margin: 0 auto;
}

/*personal*/

.personal table{
    margin-top: 50px;
    width: 800px;
    font-size: .2em;
}

.personal table td{
    height: 60px;
}


.personal table td label{
    cursor: pointer;
    font-size: 1em;
}

.error{
    margin-top: 5px;
    font-size: .8em;
    width: 100%;
    color: red;
}

input.error, textarea.error{
    outline: none;
    border: 2px red solid;
}

table.foot_table  tr td{
    color: red;
    height: 50px;
}

.personal table td input[type=text]{
    width: 100%;
    padding: 5px;
}
.personal table td input[type=radio]{
    margin-bottom: 20px;
}
.personal table td input[type=radio]:first-child{
    margin-top: 20px;
}


.personal table td select{
    width: 80px;
    padding: 3px;
}

.personal tfoot tr{
    text-align: center;
    background-color: rgba(186, 186, 186, 0.3);
}
.personal tfoot tr input[type=submit]{
    cursor: pointer;
    font-size: 1.2em;
    width: 300px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 31, 23, 0.5);
    color: white;
    text-transform: uppercase;
}

.personal tfoot tr input[type=submit]:disabled{
    cursor: auto;
    font-size: 1.2em;
    width: 300px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 31, 23, 0.3);
    color: white;
    text-transform: uppercase;
}

.personal tfoot tr .back {
    font-size: 1.5em;
    margin-left: 0px;
}

.personal tfoot tr td{
    padding: 10px;
}
.other_country{
    width: 100%;
}

.work_permit_other{
    width: 100%;
}

.data{
    display: inline-block;
    width: 190px;
    margin-left: 10px;
}

#city_example, #nationality_example, #work_permit_example{
    color: rgba(175, 175, 175, .8);
    font-weight: bold;
    border-bottom: 1px rgba(175, 175, 175, .8) dashed;
}

#city_example:hover, #nationality_example:hover, #work_permit_example:hover{
    cursor: pointer;
    font-size: 1.05em;
}
.example{
    color: rgba(175, 175, 175, .8);
    font-size: .8em;
    margin-bottom: 3px;
    margin-top: 5px;
}

.data_f{
    text-align: center;
    margin-bottom: 10px;
    color: red;
    visibility: hidden;
}


/*contacts*/
.personal.contacts{
    position: relative;
    width: 90%;
    padding: 30px;
}

.personal.contacts .message{
    padding: 10px;
    width: 25%;
}

.contacts table tfoot tr{
    height: 50px;
}

.contacts table tfoot td .contacts_footer{
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}
.contacts table tfoot td .contacts_footer input{
    display: block;
    float: left;
    margin-left: 20%;
    width: 50%;
}
.contacts table tfoot td .contacts_footer a{
    display: block;
    float: left;
    width: 20%;
    margin-left: 10px;
}




.contacts table td input[type=radio]{
    margin-right: 5px;
    margin-left: 10px;
}

.contacts table{
    width: 100%;
}

.contacts table td:nth-child(1) {
    text-align: left;
}

.contacts table td:nth-child(4) {
    padding-left: 5px;
    font-size: .7em;
    text-align: left;
    width: 20%;
}
.contacts table td:nth-child(2) {
    padding: 4px;
    width: 10px;
}

.comment{
    font-size: .8em;
    color: rgba(175, 175, 175, .8);
}

input[type=tel]{
    width: 100%;
    height: 30px;
    padding: 5px;
}

input[type=email]{
    width: 300px;
    padding: 5px;
}

.message{
    font-weight: normal;
    width: 40%;
}
/*personal position*/

.personal .message{
    text-align: left;
    width: 100%;
    font-size: .8em;
}

#salary{
    width: 100px;
}

#currency{
    margin-left: 5px;
    width: 100px;
}
.container{
    width: 100%;
}
.container input[type=checkbox]{
    margin-right: 10px;
    margin-top: 10px;
}
.position table tfoot tr{
    height: 50px;
}

.position table tfoot td div{
    margin: 0 auto;
    padding: 10px;
    width: 60%;
}
.position .message, .education .message{
    width: 100%;
    font-size: .85em;
    color: red;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*experience*/
#key_skill{
    width: 250px;
}
.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0
}
.delete_skills{
    margin-left: 5px;
    margin-right: 20px;
}

.add_skills_hid{
    font-weight: normal;
}

.add_skills_hid span{
    border-radius: 4px;
    text-align: center;
    background-color: rgba(175, 175, 175, .3);
    padding: 5px;
    margin-left: 5px;
}

.add_skills_hid span img{
    margin-left: 15px;
    margin-right: 2px;
}

.delete_skills:hover{
    cursor: pointer;
}
.ui-autocomplete{
    width: 100px;
    font-size: 0.2em !important;
    background: #4a4a4a;
    border-radius: 0px;
}
.ui-autocomplete.source:hover {
    background: #454545;
}

.ui-menu .ui-menu-item a{
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}

.button_skill{
    margin-left: 10px;
    width: 100px;
    height: 30px;
}
.personal.experience{
    position: relative;
    width: 90%;
    padding: 30px;
}
.base_education  th{
    padding-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
}


.personal.experience table td{
    padding-top: 10px;
    padding-left: 10px;
}

.add_position,
.add_recommendations,
.delete, .add_education,
.add_training_courses,
.add_tests_exams,
.add_electronic_certificates,
.add_language{
    width: 100%;
    color: #6dc626;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
    text-align: left;
    font-size: .2em;
    margin-top: 20px;

}
.delete{
    color: red;
}


.add_position img,
.add_education img,
.add_training_courses img,
.add_tests_exams img,
.add_electronic_certificates img,
.add_language img,
.add_recommendations img{
    padding-right: 10px;
    padding-left: 10px;
}

.delete img{
    padding-right: 10px;
    padding-left: 10px;
}

table.electronic_certificates  tbody td:nth-child(2) {
    width: 65%;
}


.add_position:hover,
.delete:hover,
.add_recommendations:hover,
.add_education:hover,
.add_training_courses:hover,
.add_tests_exams:hover,
.add_electronic_certificates:hover,
.add_language:hover{
    cursor: pointer;
}

.functions, .about_me{
    vertical-align: top;
}

.function_td textarea,
.key_skills textarea{
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 5px;
}


.function_td p{
    font-size: .8em;
}


.personal.experience .message{
    color: red;
}

.personal.experience hr,
.personal.education hr{
    border-top:1px  dotted #bababa;
}
table.key_skills tr:first-child{
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}


table.recommendations tr:first-child{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
.about_self{
    font-size: .7em;
}
/**/
.personal.education .level{
    width: 100%;
}
.personal.education table th,
.training_courses table th,
.tests_exams table th{
    text-align: left;
}
.base_education td,
.training_courses td,
.tests_exams td{
    font-size: .9em;
}
.base_education p,
.training_courses p,
.tests_exams p{
    margin-top: 5px;
    font-size: .9em;
    color: rgb(175, 175, 175);
}

table.training_courses th,
table.tests_exams th,
table.electronic_certificates th,
table.possessions_language th{
    padding-bottom: 20px;
}

table.possessions_language td select{
    width: 100%;
}
.delete.language{
    font-size: 1em;
}

table.possessions_language *[data-tr-language-further-id] td:nth-child(1){
    padding-right: 20px;
    width: 210px;
}

/*authorization*/
main.authorization{
    margin:  0 auto;
    width: 60%;
}

main.authorization p{
    padding: 20px;
}
main.authorization p label{
    display: block;
    margin-right: 10px;
    float: left;
    font-size: .3em;
    text-align: right;
    width: 30%;
}

main.authorization p input[type=text],
main.authorization p input[type=password]{
    padding-left: 5px;
    display: block;
    height: 30px;
    width: 30%;
    float: left;
}
main.authorization p input[type=submit]{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #ff564d;
    display: block;
    height: 30px;
    width: 30%;
    margin-right: 38.5%;
    float: right;
    margin-bottom: 10px;
}

main.authorization .helpers_message_authorization{
    border: 1px red dashed;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: red;
    font-size: .2em;
}
/*admin_control*/

.admin_control .left_admin_control{
    float: left;
    width: 23%;
    margin-top: 10px;
    font-size: .17em;
    /*border: 1px black solid;*/
}

.admin_control .right_admin_control .no_resume{
    margin-top: 50px;
    font-size: 1.3em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.64);
}
.admin_control .left_admin_control .widget.admin{
    background-color: rgba(175, 175, 175, 0.2);
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
.admin_control .left_admin_control .widget.admin p{
    width: 100%;
    padding: 5px 10px 5px 10px;
    background-color: rgba(198, 123, 55, 0.37);
    color: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.admin_control .left_admin_control .widget.admin p:hover{
    background-color: rgba(198, 123, 55, 0.76);
}
.admin_control .left_admin_control .widget.admin a{
    display: block;
    font-weight: bold;
    color: white;
    width: 98%;
}



.admin_control .left_admin_control .widget.admin span{
    display: block;
    float: right;
    width: 3%;
    color: gold;
}



.admin_control .left_admin_control .widget.admin .active{
    background-color: rgba(198, 123, 55, 0.76);
}

.admin_control .left_admin_control p a:visited{
    color: white;
}

.admin_control .right_admin_control{
    float: left;
    width: 75%;
    font-size: .2em;
    /*border: 1px black solid;*/
}

.admin_control .right_admin_control nav{
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.admin_control .right_admin_control nav ul{
    padding: 0; margin: 0;
}
.admin_control .right_admin_control nav ul li{
    text-align: center;
    display: inline-block;
    list-style-type: none;
    margin-left: 5px;
    width: 35px;
}

.admin_control .right_admin_control nav ul li a{
    display: block;
    padding: 3px;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 1px #bababa solid;
}

.admin_control .right_admin_control .user_id{
    padding: 20px;
    margin-top: 10px;
    border-top: 1px #bababa dashed;
}
.admin_control .right_admin_control .user_id:nth-last-child(2){
    border-bottom: 1px #bababa dashed;
}
.admin_control .right_admin_control .user_id figure{
    display: block;
    float: left;
    width: 25%;
}

.admin_control .right_admin_control .user_id .inform_user{
    float: left;
    width: 75%;
}

.admin_control .right_admin_control .user_id .inform_user p{
    margin-top: 10px;
}

.admin_control .right_admin_control .user_id .inform_user p:last-child{
    color: #bababa;
    font-weight: bold;
}

.admin_control .right_admin_control .user_id .inform_user span{
    color: #616161;
}

.admin_control .right_admin_control .user_id .inform_user .salary_inform_user{
    float: right;
    border-radius: 20px;
    padding: 20px;
    -moz-border-radius: 20px;
    background-color: rgba(255, 86, 77, 0.10);
}
.admin_control .right_admin_control .user_id .inform_user .salary_inform_user span{
    display: block;
    text-align: left;
    padding: 3px;
}


.admin_control .right_admin_control .user_id .inform_user .word{
    width: 32px;
    height: 32px;
}

.admin_control .right_admin_control .user_id .inform_user .name_user_inform{
    margin-top: 10px;
    margin-bottom: 10px;
}


.admin_control .right_admin_control .user_id img{
    width: 150px;
    height: 150px;
}


.admin_control .out{
    float: right;
    width: 20%;
    text-align: right;
    font-size: .15em;
    margin-bottom: 10px;
}
.admin_control .out a{
    background-color: red;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    color: white;
    letter-spacing:2px;
    text-decoration: none;
}

.admin_control .search{
    padding: 5px;
    background-color: #7fbeff;
}


.admin_control .search input[type=search]{
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    margin-left: 50px;
    height: 30px;
    width: 50%;
}

.admin_control .search input[type=submit]{
    display: block;
    float: left;
    margin-left: 10px;
    height: 30px;
    width: 150px;
}

.admin_control  .right_admin_control .active{
    border: none;
    font-weight: bold;
}

.admin_control  .right_admin_control .no-active:hover{
    background-color: #428bca;
}

.admin_control .form_manager{
    border: 1px rgba(187, 187, 187, 0.87) dashed;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
}
.admin_control .form_manager p{
    position: relative;
    clear: both;
    padding: 5px;
}
.admin_control .form_manager label{
    display: block;
    float: left;
    font-size: 1.2em;
    width: 20%;
    margin-right: 10px;
    text-align: right;
}
.admin_control .form_manager input{
    display: block;
    float: right;
    margin-right: 250px;
    font-size: 0.9em;
    padding: 5px;
    height: 30px;
    width: 45%;
}
.admin_control .form_manager input[type=submit]{
    padding: 5px;
    height: 30px;
}

.admin_control .form_manager .error{
    text-align: center;
}
.admin_control .message{
    clear: both;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    color: red;
}

.admin_control .form_manager a.generate_password{
    position: absolute;
    left: 73%;
    background-color: rgba(255, 0, 0, 0.68);
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    height: 30px;
}

.admin_control.managers .table_managers{
    margin-top: 10px;
    font-size: 1.2em;
    width: 100%;
}

.admin_control.managers .table_managers table{
    width: 100%;
}

.admin_control.managers .table_managers table th{
    background-color: rgba(187, 187, 187, 0.52);
    border: 1px rgba(187, 187, 187, 0.34) dashed;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.admin_control.managers .table_managers table img{
    width: 16px;
    height: 16px;
}

.admin_control.managers .table_managers table td{
    text-align: center;
    border: 1px rgba(187, 187, 187, 0.56) dashed;
    padding: 20px;
}

.admin_control .conclusion{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: rgba(255, 86, 77, 0.10);
}

.admin_control .conclusion h1{
    width: 100%;
    text-align: center;
    color: #c67b37;
    margin-bottom: 10px;
}

.admin_control .conclusion .editConclusion,
.admin_control .conclusion .deleteConclusion a{
    font-size: .8em;
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    color: white  !important;
    background-color: rgba(198, 123, 55, 0.58);
    padding: 5px 10px 5px 10px  !important;
    text-decoration: underline;
}

.admin_control .conclusion .editConclusion img,
.admin_control .conclusion .deleteConclusion img{
    height: 12px;
    width: 12px;
    margin-right: 10px;
}

.admin_control .conclusion .editConclusion:hover{
    cursor: pointer;
}

.admin_control .conclusion .conclusion_text{
    margin-left: 5px;
    padding: 10px;
}
.admin_control .conclusion textarea{
    display: block;
    padding: 10px;
    float: left;
    width: 60%;
    margin-left: 60px;
    height: 40px;
    resize: vertical;
}
.admin_control .conclusion input[type=submit]{
    display: block;
    float: left;
    height: 40px;
    width: 150px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: rgba(0, 128, 0, 0.57);
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-left: 20px;
}

.admin_control.folders{
    width: 100%;
}


.admin_control.folders .right_admin_control .folders_form,
.admin_control.folders .right_admin_control .folders_list{
    width: 100%;
    margin: 20px;
}

.admin_control.folders .right_admin_control .folders_list li{
    list-style: decimal;
    margin-bottom: 20px;
}
.admin_control.folders .right_admin_control .folders_list span{
    background-color: rgba(187, 187, 187, 0.44);
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.admin_control.folders .right_admin_control .folders_form input{
    width: 30%;
    padding: 5px;
    height: 30px;
}

.admin_control.folders .right_admin_control .folders_form input[type=submit]{
    width: 10%;
}


